.dateRangeReportForm {
  width: 100%;
}

.chooseDate {
  width: 100%;
}

.report {
  margin: 10px 10px 10px 10px;
  width: 25%;
}

.reportCard {
  margin: 20px 10px 10px 10px;
}

.reportTitle {
  font-size: 16px;
}

.filterBox {
  width: 25%;
}

.addFilterDivider {
  width: 25%;
  margin-top: 5px;
}

.report-by-class-card {
  display: flex;
}

.report-by-class-cards {
  width: 20%;
}

.report-button{
  display: flex;
  margin: 10px 10px 10px 10px;
}

.report-button-clear{
  margin-left: 105px;
}
