.example-spacer {
    flex: 1 1 auto;
}

.version-display{
  position: fixed;
  right: 0;
  font-size: 10px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.productsContainer {
  padding: 0 50px 10px 50px;
  margin: 0 auto;
}

.salesContainer {
  padding: 0 50px 10px 50px;

}

.reportContainer {
  padding: 0 50px 10px 50px;
  margin: 0 auto;
}




