.example-spacer {
    flex: 1 1 auto;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.container{
  padding: 0px 50px 10px 50px;
  margin: 0 auto;
}
